<%#= link_to "New Challenge", new_challenge_path %>
<%#= link_to "My Challenges", :controller => :challenges, :action => :my_challenges, :id => current_user.id %>
<%#= link_to "Sent Challenges", :controller => :challenges, :action => :sent_challenges, :id => current_user.id %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @user.persistence_token %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
