<% title "Challenges" %>

<table>
  <tr>
    <th>From</th>
    <th>Description</th>
    <th>Complete Time</th>
    <th>Send Date</th>
    <th>Accept Date</th>
    <th>Due</th>
    <th>Complete Time</th>
  </tr>
  <% for challenge in @challenges %>
    <tr>
      <td><%= challenge.user_from_id %></td>
      <td><%= challenge.challenge_txt %></td>
      <td><%= challenge.challenge_tm %></td>
      <td><%= challenge.send_dt %></td>
      <td><%= challenge.accepted_dt %></td>
      <td><%= challenge.due_dt %></td>
      <td><%= challenge.complete_dt %></td>
      <td><%= link_to "Show", challenge %></td>
      <td><%= link_to "Edit", edit_challenge_path(challenge) %></td>
      <td><%= link_to "Destroy", challenge, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
