<% title "Sent Challenges" %>
<%  @challenges = Challenge.find_all_by_user_from_id(current_user.id, :order => 'created_at DESC') %>
<table>
  <tr>
    <th>To</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Send Date</th>
    <th>Accepted</th>
    <th>Accepted Date</th>
    <th>Due Date</th>
    <th>Complete Date</th>
  </tr>
  <% for challenge in @challenges %>
    <tr>
	      <td>
				<% if User.exists?(challenge.user_to_id)
					user_to = User.find(challenge.user_to_id) %>
			  	<%# if !user_to.nil? %>
			    	<%= user_to.username %>
			  	<% end%>
		  </td>
      <td><%= challenge.challenge_txt %></td>
      <td><%= challenge.challenge_tm %></td>
      <td><%= challenge.send_dt %></td>
      <td><%= challenge.accepted %></td>
      <td><%= challenge.accepted_dt %></td>
      <td><%= challenge.due_dt %></td>
      <td><%= challenge.complete_dt %></td>
      <td><%#= link_to "Show", challenge %></td>
      <td><%#= link_to "Edit", edit_challenge_path(challenge) %></td>
      <td><%= link_to "Destroy", challenge, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%#= link_to "New Challenge", new_challenge_path %></p>