<% title "Challenge" %>

<p>
  <strong>User From:</strong>
  <% user_from = User.find(@challenge.user_from_id)%>
  <% if !user_from.nil? %>
    <%= user_from.username %>
  <% end%>
</p>
<p>
  <strong>User To:</strong>
  <% user_to = User.find(@challenge.user_to_id)%>
  <% if !user_to.nil? %>
    <%= user_to.username %>
  <% end%>
</p>
<p>
  <strong>Challenge Txt:</strong>
  <%= @challenge.challenge_txt %>
</p>
<% if @challenge.accepted.nil?%>
	<%= form_for @challenge do |f| %>
		Reject
		<%= f.radio_button :accepted, 0 %>
		Accept
		<%= f.radio_button :accepted, 1 %>
		<%= f.hidden_field(:accepted_dt, :value => Time.now) %>
		<%= f.submit %>
	<% end %>
<% end %>
<p>
  <strong>Challenge Tm:</strong>
  <%= @challenge.challenge_tm %>
</p>
<p>
  <strong>Send Dt:</strong>
  <%= @challenge.send_dt %>
</p>
<p>
  <strong>Accepted:</strong>
  <%= @challenge.accepted %>
</p>
<p>
  <strong>Accepted Dt:</strong>
  <%= @challenge.accepted_dt %>
</p>
<p>
  <strong>Due Dt:</strong>
  <%= @challenge.due_dt %>
</p>

<% if !@challenge.complete_dt.nil? %>
	<H2>I've done it!!! Hurray!</H2>	
<% else %>
	<% if @challenge.accepted == 1 %> 
		<%if (Time.now - @challenge.updated_at) > 311 %>
			<H4>LOSER!!! LOSER!!! Haaaa!</H4>
		<% else %>
			<%= form_for @challenge do |f| %>
			<%= f.hidden_field(:complete_dt, :value => Time.now) %>
			<%= f.submit 'I have completed it!'%>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<p>
  <strong>Complete Dt:</strong>
  <%= @challenge.complete_dt %>
</p>
</p>

<%#= submit_tag(value = "Save changes", options = {}) %>
<p>
  <%= link_to "Edit", edit_challenge_path(@challenge) %> |
  <%= link_to "Destroy", @challenge, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", challenges_path %>
</p>
